<div>
    <h1 class="col-lg-10" id='chatroom'><%=selectRoom%></h1>  
    <div class="btn-group"  style="margin-top:15px;">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Change Room
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <% for(var group in groups){ %>
                <li><a href="javascript:void(0);" id="_<%=groups[group]%>"><%=groups[group]%></a></li>
            <%}%>
        </ul>
    </div>
</div>
<br/>
<form onsubmit="return false">
<div id='messArea' style="height:40%;overflow-y: scroll;"></div>
<div class="form-group">
  <label class="control-label" for="inputLarge"><%=workspace.userName %></%{></label>
  <input class="form-control input-lg" type="text" id="Ciphertext" autocomplete="off">
</div>
<input type="submit" class="btn btn-primary btn-lg" id='go' value="submit"></input>
</form>
<br/><br/>